@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');



$fontfamily: 'Poppins', sans-serif; ;
$widht: 50px;
$height:50px;
$logo: 250px;
$color-titulo:black;
$radius:40%;

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive; 
}


/*div trasnparencia*/
.principal{
    min-height: 100vh;
   background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), 
    url(../imagenes/cantera.jpg) no-repeat center center fixed ;
   background-size: cover;
}
/*nav*/
.logo__nav{
    height: 50px;
    width: 50px;
    border-radius: 90%;

}


/*portada*/
.logo__portada{
    height: 250px;
    width: 250px;
    border-radius: 90%;
    box-shadow: 0px 10px 10px 0px;
    
    
}

.cover{
    width: 100%;
    
    
    
    
}
.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 700px;
   
   

}

.container__info{
    max-width: 400px;
    margin-top: 40px ;
    z-index: 2;
    margin-top: 150px;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: rgb(99, 98, 98);
    
    
}
.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: rgb(128, 87, 54);
    margin-top: -30px;

}
.cover p{
    margin-top: 10px;
    font-weight: 500;
    font-weight: 800;
    color: rgb(99, 99, 99);
   


}

.container__img{
    margin-top: 150px;
    

}
.container__img img{
    
    bottom: 10px;
    right: 0px;
    width: 250px;
    border-radius: 90%;
    animation: move_img 6s ease-in-out infinite  ;
    box-shadow: 0px 15px 20px;
}

@keyframes move_img {
    0%{
        transform: translate(10px);
    
    }
    25%{
        transform: translate(-10px);
    
    }
    100%{
        transform: translate(10px);
    
    }

}
/*materiales*/
.container__Materiales_padre{
   
    background: rgb(178,178,178);
    background: linear-gradient(0deg, rgba(178,178,178,0) 0%, rgba(204,204,204,0.5049370089832808) 35%, rgba(73, 72, 72, 0.505) 100%);
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 15px;
    color: aliceblue;

    .div_hijo{
        margin: 60px;
    }
    
    
    .imgmateriales{
        margin-top: 30px;
        height: $height *4;
        width: $widht *4;
        transition: 2s;
        border-radius: $radius;
       
        
    }
    & .imgmateriales:hover{
        height: $height *6;
        width: $widht *6;
        border-radius: $radius;
        box-shadow: 0px 15px 20px ;
        transition: 2s;
    }
   

}
.div-titulos{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    background-color: rgb(37, 37, 37);
    margin-top: 20px;

    .h2__titulo{
        font-weight: 200;
        font-size: 50px;
        font-family: fantasy;
       
    }
    
}
/*contacto*/
.asesoramiento{
    text-align: center;
    color: aliceblue;
    background-color: rgb(37, 37, 37);
    height: 150px;
    padding-top: 50px;
    

    .h4__asesoramiento{
        
        font-size: 30px;
        padding-bottom: 10px;
    }
    .btn__llamar{
        color: rgb(10, 10, 10);
        background-color: rgb(255, 255, 255);
        padding: 5px;
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        padding: 8px;
        
        
    
    }
    .btn__llamar:hover{
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255) ;
        background-color: rgb(37, 37, 37);
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    
}
.section__container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 15px;
    height:600px;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), 
    url(../imagenes/cantera2.jpg) no-repeat center center fixed ;
    background-size: cover;
     

    .h2__section_maps{
    height: 300px;
    width: 350px;
    color: aliceblue;
    
    text-align: left;
    padding: 50px;
    font-family: fantasy;
    }
    iframe{
        padding: 10px;
        margin-top: 15px;
        border-radius: 10%;
    }

}
/*footer*/
footer{
    
    width: 100%;
    padding: 15px 0px;
    background-color: #3d3d3d;
   

}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;

}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
    

}
.logoimgfooter{
    width: 100px;
    height: 100px;
    border-radius: 90%;

}
.footer__terminos{
    max-width: 350px;
    margin-top: 10px;
    font-weight: 500;
    color: #202020;
    font-size: 18px;
}
.box__footer h3{
    margin-bottom: 15px;
    color: #202020;
    font-weight: 700;

} 
.box__footer a{
    margin-top: 10px;
    color: #202020;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
}
.box__footer a:hover{
    opacity: 0.8;
}

/*config para logos de redes sociales*/
$red-social:(
  instagram: pink,
  facebook: blue,
  whatsapp: green,

);
@each $nombre ,$valor in $red-social{
 .icon-#{$nombre}{
     background-color: $valor;
      height: 30px;
      width: 30px;
      border-radius: 90%;
 }

}

/*media mobile*/
@media screen  and (max-width: 767px )
{
    .container__img{
        transform: scale(0);
        animation: none;
    }
    .div-titulos {
        background-color: #202020;
        height: 70px;
        padding: 20px;
        color: #c5c5c5;
        text-align: center;
        font-family: $fontfamily;
      }
      

    .container__Materiales_padre{

        height: 100%; 
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        text-align: center;
        gap: 15px;
        color: #c5c5c5;
    
    .div_hijo{
        margin: 60px;
    }
       
    
    
        & .imgmateriales{
            
            height: $height *4;
            width: $widht *4;
            transition: 2s;
            
            border-radius: $radius;
           
            
        }
        & .imgmateriales:hover{
            height: $height *6;
            width: $widht *6;
            border-radius: $radius;
            box-shadow: 0px 15px 20px ;
            transition: 2s;
        }
    
    }

    iframe{
        height: 250px;
        width: 300px;
    }
 
    
}
/*media tablet*/
@media screen  and (min-width: 768px ) and (max-width: 1276px)
{
    .container__img{
        transform: scale(0);
        animation: none;
    }
    .div-titulos {
        background-color: #202020;
        height: 70px;
        padding: 20px;
        color: #c5c5c5;
        text-align: center;
        font-family: $fontfamily;
      }
      

    .container__Materiales_padre{

       height: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    justify-items: center;
    text-align: center;
    gap: 15px;
    
    
    
    
    color: #c5c5c5;
    
    .div_hijo{
        margin: 60px;
    }
       
    
    
        & .imgmateriales{
            
            height: $height *4;
            width: $widht *4;
            transition: 2s;
            
            border-radius: $radius;
           
            
        }
        & .imgmateriales:hover{
            height: $height *6;
            width: $widht *6;
            border-radius: $radius;
            box-shadow: 0px 15px 20px ;
            transition: 2s;
        }
    
    }

        iframe{
            height: 350px;
            width: 400px;
    }
 
    
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

.principal {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera.jpg) no-repeat center center fixed;
  background-size: cover;
}

.logo__nav {
  height: 50px;
  width: 50px;
  border-radius: 90%;
}

/*formulario*/
.form-register {
  width: 400px;
  background-color: #252525;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  -webkit-box-shadow: 7px 13px 37px #000;
          box-shadow: 7px 13px 37px #000;
  text-align: center;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.caja {
  height: 100px;
  width: 300px;
}

footer {
  width: 100%;
  padding: 15px 0px;
  background-color: #3d3d3d;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  text-decoration: none;
}

.logoimgfooter {
  width: 100px;
  height: 100px;
  border-radius: 90%;
}

.footer__terminos {
  max-width: 350px;
  margin-top: 10px;
  font-weight: 500;
  color: #202020;
  font-size: 18px;
}

.box__footer h3 {
  margin-bottom: 15px;
  color: #202020;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #202020;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
}

.box__footer a:hover {
  opacity: 0.8;
}

.icon-instagram {
  background-color: pink;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-facebook {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-whatsapp {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

.principal {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera.jpg) no-repeat center center fixed;
  background-size: cover;
}

.logo__nav {
  height: 50px;
  width: 50px;
  border-radius: 90%;
}

.div__container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
  background-size: cover;
  color: aliceblue;
  font-size: 25px;
  border: 5px solid black;
}

footer {
  width: 100%;
  padding: 15px 0px;
  background-color: #3d3d3d;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  text-decoration: none;
}

.logoimgfooter {
  width: 100px;
  height: 100px;
  border-radius: 90%;
}

.footer__terminos {
  max-width: 350px;
  margin-top: 10px;
  font-weight: 500;
  color: #202020;
  font-size: 18px;
}

.box__footer h3 {
  margin-bottom: 15px;
  color: #202020;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #202020;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
}

.box__footer a:hover {
  opacity: 0.8;
}

.icon-instagram {
  background-color: pink;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-facebook {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-whatsapp {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

/*capa transparencia*/
.principal {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*nav*/
.logo__nav {
  height: 50px;
  width: 50px;
  border-radius: 90%;
}

/*titulos portada*/
.div-titulos {
  text-align: center;
  padding: 20px;
  color: aliceblue;
  background-color: #252525;
  border-top: 3px solid black;
}

.div-titulos .h2__titulo {
  font-weight: 200;
  font-size: 50px;
  font-family: fantasy;
}

/*obras*/
.container__obras_padre {
  background: #b2b2b2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(178, 178, 178, 0)), color-stop(35%, rgba(204, 204, 204, 0.504937)), to(rgba(73, 72, 72, 0.505)));
  background: linear-gradient(0deg, rgba(178, 178, 178, 0) 0%, rgba(204, 204, 204, 0.504937) 35%, rgba(73, 72, 72, 0.505) 100%);
  border-radius: 10%;
  height: 600px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 15px;
  color: aliceblue;
}

.container__obras_padre .h3__obras {
  margin-top: 50px;
}

.container__obras_padre .imgobras {
  margin-top: 60px;
  height: 300px;
  width: 300px;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: 40%;
}

.container__obras_padre .imgobras:hover {
  height: 400px;
  width: 400px;
  border-radius: 40%;
  -webkit-box-shadow: 0px 15px 20px;
          box-shadow: 0px 15px 20px;
  -webkit-transition: 2s;
  transition: 2s;
}

/*footer*/
footer {
  width: 100%;
  padding: 15px 0px;
  background-color: #3d3d3d;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  text-decoration: none;
}

.logoimgfooter {
  width: 100px;
  height: 100px;
  border-radius: 90%;
}

.footer__terminos {
  max-width: 350px;
  margin-top: 10px;
  font-weight: 500;
  color: #202020;
  font-size: 18px;
}

.box__footer h3 {
  margin-bottom: 15px;
  color: #202020;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #202020;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
}

.box__footer a:hover {
  opacity: 0.8;
}

/*config redes sociales*/
.icon-instagram {
  background-color: pink;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-facebook {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-whatsapp {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

/*media mobile*/
@media screen and (max-width: 767px) {
  .container__obras_padre {
    background: #b2b2b2;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(178, 178, 178, 0)), color-stop(35%, rgba(204, 204, 204, 0.504937)), to(rgba(73, 72, 72, 0.505)));
    background: linear-gradient(0deg, rgba(178, 178, 178, 0) 0%, rgba(204, 204, 204, 0.504937) 35%, rgba(73, 72, 72, 0.505) 100%);
    border-radius: 10%;
    height: 100%;
    width: 100%;
    margin: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 15px;
    color: aliceblue;
  }
  .container__obras_padre .h3__obras {
    margin-top: 50px;
  }
  .container__obras_padre .imgobras {
    margin-top: 60px;
    height: 300px;
    width: 300px;
    -webkit-transition: 2s;
    transition: 2s;
    border-radius: 40%;
  }
  .container__obras_padre .imgobras:hover {
    height: 400px;
    width: 400px;
    border-radius: 40%;
    -webkit-box-shadow: 0px 15px 20px;
            box-shadow: 0px 15px 20px;
    -webkit-transition: 2s;
    transition: 2s;
  }
}

/*media tablet*/
@media screen and (min-width: 768px) and (max-width: 1276px) {
  .container__obras_padre {
    background: #b2b2b2;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(178, 178, 178, 0)), color-stop(35%, rgba(204, 204, 204, 0.504937)), to(rgba(73, 72, 72, 0.505)));
    background: linear-gradient(0deg, rgba(178, 178, 178, 0) 0%, rgba(204, 204, 204, 0.504937) 35%, rgba(73, 72, 72, 0.505) 100%);
    border-radius: 10%;
    height: 100%;
    width: 100%;
    margin: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 15px;
    color: aliceblue;
  }
  .container__obras_padre .h3__obras {
    margin-top: 50px;
  }
  .container__obras_padre .imgobras {
    margin-top: 60px;
    height: 300px;
    width: 300px;
    -webkit-transition: 2s;
    transition: 2s;
    border-radius: 40%;
  }
  .container__obras_padre .imgobras:hover {
    height: 400px;
    width: 400px;
    border-radius: 40%;
    -webkit-box-shadow: 0px 15px 20px;
            box-shadow: 0px 15px 20px;
    -webkit-transition: 2s;
    transition: 2s;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

.logo__nav {
  height: 50px;
  width: 50px;
  border-radius: 90%;
}

.bg {
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.contacto, .h2_contacto, .p_contactos {
  color: #cac7c7;
  margin-top: 50px;
}

.h2_contacto {
  font-size: 40px;
}

.p_contactos {
  font-size: 20px;
}

.asesoramiento {
  text-align: center;
  color: aliceblue;
  background-color: #252525;
  height: 150px;
  padding-top: 50px;
}

.asesoramiento .h4__asesoramiento {
  font-size: 30px;
  padding-bottom: 10px;
}

.asesoramiento .btn__llamar {
  color: #0a0a0a;
  background-color: white;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  padding: 8px;
}

.asesoramiento .btn__llamar:hover {
  color: white;
  border: 2px solid white;
  background-color: #252525;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 15px;
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.section__container .h2__section_maps {
  height: 300px;
  width: 350px;
  color: aliceblue;
  text-align: left;
  padding: 50px;
  font-family: fantasy;
}

.section__container iframe {
  padding: 10px;
  margin-top: 15px;
  border-radius: 10%;
}

footer {
  width: 100%;
  padding: 15px 0px;
  background-color: #3d3d3d;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  text-decoration: none;
}

.logoimgfooter {
  width: 100px;
  height: 100px;
  border-radius: 90%;
}

.footer__terminos {
  max-width: 350px;
  margin-top: 10px;
  font-weight: 500;
  color: #202020;
  font-size: 18px;
}

.box__footer h3 {
  margin-bottom: 15px;
  color: #202020;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #202020;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
}

.box__footer a:hover {
  opacity: 0.8;
}

.icon-instagram {
  background-color: pink;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-facebook {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

.icon-whatsapp {
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 90%;
}

@media screen and (max-width: 767px) {
  .bg {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  iframe {
    height: 250px;
    width: 300px;
  }
  .asesoramiento {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1276px) {
  .bg {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/cantera2.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  iframe {
    height: 250px;
    width: 300px;
  }
  .asesoramiento {
    height: 100%;
  }
}

























